
*,*::before,*::after{
  box-sizing:border-box;
}
main{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size:1.5em;
}
body{text-align:center;}
body::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      115deg,
      rgba(105, 105, 105, 0.9),
      rgba(211, 211, 211, 0.4)
    ),
   url("https://i.kym-cdn.com/entries/icons/facebook/000/029/671/wide_dog_cover2_.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1{
  font-size:2.5em;
  opacity:1;
}
.container{
  width:100%;
  margin: 4rem auto 0 auto;
  text-align:center;
  display: inline-block;
  border:box;
}
@media(min-width: 600px){
  .container{
    max-width:600px;
  }
}
@media(min-width:768px){
  .container{
    max-width:720px;
  }
}
form{
 background:rgba(105,105,105,.95);;
  padding:2.5rem .5rem;
  border-radius:.25rem;
  
}
.form-group{
  margin:0 auto 1.5rem auto;
  padding:.25rem;  
  width:100%;
}
.form-control{
  width:100%;
  height:2.5rem;
  display:block;
  background-clip:padding-box;
  border:1px solid ;
  transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-control:focus:{
  border-color:00AA00;
  outline:0;
}
label{
  display:flex;
  align-items:center;
  font-size:1.5rem;
  margin-bottom:.5rem;
}

.input-textarea{
  width:100%;
  min-height:120px;
}
select{
  width:100%;
  height:2.5rem;
  display:block;
}
.input-radio,.input-checkbox{
  display:inline-block;
  min-height:1.5rem;
  min-width:1.5rem;
  margin-right:.5rem;
}
.clue{
  margin-left:.2rem;
  font-size:1rem;
}
.submit-button{
  display:block;
  width:100%;
  padding:.5rem;
  background:#00AA00;
  border:none;
  cursor:pointer;
  font-size:1.5rem;
}
